
body {
    background-color: whitesmoke;
    font-family: Calibri;
    background-image: url("https://live.staticflickr.com/4392/35521128893_d20d7704b3_b.jpg");
}

.intro-main-heading {
    font-size: 200px;
    line-height: 120px;
    color: green;
}

.intro-sub-heading {
    font-size: 100px;
    color: black;
}

.boxed-1 {
    display: block;
    height: 100vh;
    overflow: auto;
    width: 200px;
    padding: 15px;
    border: 2px solid whitesmoke;
    background-color: rgb(207, 245, 248);
    position: fixed;
    left: 10px;
    top: 10px;
}

.boxed-2 {
    display: block;
    height: 500px;
    width:900px;
    padding: 15px;
    background-color: whitesmoke;
    position: fixed;
    left: 700px;
    bottom: 700px;
}

.boxed-3 {
    text-align: justify;
    background-color: rgb(217, 243, 217);
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: block;
    height: 180px;
    width:900px;
    padding: 15px;
    position: fixed;
    left: 700px;
    bottom: 450px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid rgb(207, 248, 207);
    background-color: whitesmoke;
  }
  
  li {
    display: block;
    background-color: rgb(207, 248, 207);
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px 5px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: gray;
    color: whitesmoke;
  }
  
  li a.active {
    color: white;
    background-color: rgb(207, 248, 207);
  }

  .boxed-content {
    display: block;
    height: 100vh;
    overflow: auto;
    width: 1250px;
    padding: 15px;
    border: 2px solid whitesmoke;
    background-color: rgb(207, 248, 207);
    position: fixed;
    left: 280px;
    top: 10px;
}

.box {
    width: 200px;
    height: 200px;
    background: red;
    position: relative;
    top: 40px;
}
.shape {
    width: 250px;
    height: 250px;
    background: navy;
    border-radius: 50%;
    position: absolute;
    left: 75px;
    top: 50px;
    overflow: hidden;
}

#top-left {
    width: 150px;
    height: 150px;
    background: purple;
    position: relative;
    left: -25px;
}

ol {
    list-style-type: inherit
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid rgb(207, 248, 207);
    background-color: whitesmoke;
}