
body {
    background-color: white;
    font-family: Calibri;
    background-image: url("https://live.staticflickr.com/4392/35521128893_d20d7704b3_b.jpg");
}

.intro-main-heading {
    font-size: 200px;
    line-height: 120px;
    color: green;
}

.intro-sub-heading {
    font-size: 100px;
    color: black;
}

.navigation {
    display: block;
    height: 100vh;
    overflow: auto;
    width: 200px;
    padding: 15px;
    border: 2px solid white;
    background-color: rgb(207, 245, 248);
    position: fixed;
    left: 10px;
    top: 10px;
}


.index-boxed1 {
    display: block;
    height: 500px;
    width:900px;
    padding: 15px;
    background-color: white;
    border: 1px solid rgb(207, 245, 248);
    position: fixed;
    left: 700px;
    bottom: 700px;
}

.index-boxed2 {
    text-align: justify;
    background-color: white;
    border: 1px solid rgb(207, 245, 248);
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: block;
    height: 180px;
    width:900px;
    padding: 15px;
    position: fixed;
    left: 700px;
    bottom: 450px;
}


.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid rgb(207, 245, 248);
    background-color: white;
  }
  
  .navigation li {
    display: block;
    background-color: rgb(207, 245, 248);
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
  }
  
  .navigation li a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px 5px;
    text-decoration: none;
  }
  
  .navigation li a:hover:not(.active) {
    background-color: gray;
    color: whitesmoke;
  }
  
  .navigation li a.active {
    color: white;
    background-color: rgb(207, 245, 248);
  }

  .blog-generic {
    display: block;
    height: 100vh;
    overflow: auto;
    width: 1250px;
    padding: 15px;
    border: 2px solid rgb(207, 245, 248);
    background-color: white;
    position: fixed;
    left: 280px;
    top: 10px;
}

.footer-box {
    text-align: justify;
    background-color: grey;
    color: white;
    font-size: 15px;
    display: block;
    height: 40px;
    width:1200px;
    padding: 5px;
    position: fixed;
    right: 190px;
    bottom: 50px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
  text-align: left;
}

table {
  table-layout: fixed;
}

tr:hover {
  background-color: grey;
  color: white;
}

th {
  background-color: rgb(207, 245, 248)
}

.center {
  display: block;
  margin-left: 270px;
  margin-right: 500px;
  width: 50%;
}